<h1 class="text-2x1">Project: <%=@project.name%></h1>
<.button type="button" class="hover:bg-white hover:text-black hover:border-black hover:border" phx-click="generate-image">Generate Image</.button>
<img src={@tt} width="500" height="600"> 